body {
  margin: 0;
  background: rgb(239,222,205);
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

:root{
  background: rgb(239,222,205);
}

/* navbar color */
.navbar {
  background-color: rgb(125,116,107);
  display: flex;
  flex-direction: row;
}

/* mouse over link navbar navbar-expand-lg navbar-light info*/
.navbar a:hover {
  background-color: rgb(98,146,179);
  color: white !important;
}

.navbar a.active {
  background-color: rgb(73,109,133);
}

.tooltip .tooltiptext {
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  /* Use half of the width (120/2 = 60), to center the tooltip */
}

.caption1 {
  font-style: italic;
  }

.caption3 {
  color: rgb(128, 143, 133);
}

.h1 {
  color: rgb(216, 221, 239); 
}

.bgcolor {
  color: rgb(73,109,133);
}
